<html>
    <head>
        <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.1.1.min.css">
        <title>How Is Babby</title>
    </head>
    <body style="padding-top: 40px">
        <div class="container">

            <div class="topbar-wrapper">
                <div class="topbar">
                    <div class="fill">
                        <div class="container">
                            <h3>
                                <a href="{% url viewer_index %}">How Is Babby</a>
                            </h3>
                            <ul>
                                {% block nav-index %}<li><a href="{% url viewer_index %}">Monitor</a></li>{% endblock %}
                                {% block nav-log %}<li><a href="{% url viewer_log %}">See Log</a></li>{% endblock %}
                                {% block nav-configure %}<li><a href="{% url viewer_configure %}">Configure</a></li>{% endblock %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row show-grid">
                <div class="span4 columns">
                    <div class="alert-message">
                        <a class="close" href="#">x</a>
                        <p><strong>Alert!</strong> The babby is on the move!</p>
                    </div>
                </div>
            </div>

            {% block content %}
            {% endblock %}

            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="span8 columns">
                    <p id="credits">Copyright 2011, Labs Olympics Winners</p>
                </div>
            </div>
        </div>
    </body>
</html>

