<html>
    <head>
        <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.1.1.min.css">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script>
         $(document).ready(function() {
             $("#messages").load("{% url viewer_eventalert %}");
           var refreshId = setInterval(function() {
              $("#messages").load("{% url viewer_eventalert %}");
           }, 5000);
           $.ajaxSetup({ cache: false });
        });
        </script>
        <title>How Is Babby</title>
    </head>
    <body style="padding-top: 40px">
        <div class="container">

            <div class="topbar-wrapper">
                <div class="topbar">
                    <div class="fill">
                        <div class="container">
                            <h3>
                                <a href="{% url viewer_index %}">How Is Babby</a>
                            </h3>
                            <ul>
                                {% block nav-index %}<li><a href="{% url viewer_index %}">Monitor</a></li>{% endblock %}
                                <!--{% block nav-log %}<li><a href="{% url viewer_log %}">See Log</a></li>{% endblock %}-->
                                {% block nav-configure %}<li><a href="{% url viewer_configure %}">Configure</a></li>{% endblock %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div id="messages">
                <!-- This gets replaced by AJAX, polled every five seconds -->
            </div>

            <div class="row">&nbsp;</div>

            {% block content %}
            {% endblock %}

            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="span8 columns">
                    <p id="credits">Copyright 2011, Labs Olympics Winners</p>
                </div>
            </div>
        </div>
    </body>
</html>

