{% extends "base.html" %}

{% block nav-configure %}<li class="active"><a href="{% url viewer_configure %}">Configure</a></li>{% endblock %}

{% block content %}
<div class="row">
    <div class="span8 columns">
        <form>
            {% for field in form %}
            <div class="input">
                {{ field.errors }}
                {{ field.label_tag }}: {{ field }}
            </div>
            {% endfor %}
            <div class="input">
                <input type="submit" class="btn" name="save" value="Save"/>
            </div>
        </form>
    </div>
</div>

{% endblock %}
