{% extends "base.html" %}

{% block nav-configure %}<li class="active"><a href="{% url viewer_configure %}">Configure</a></li>{% endblock %}

{% block content %}
<div class="row">
    <div class="span8 columns">
        <form action="{% url viewer_configure %}" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}

            <fieldset>
                <legend>Sensitivity Settings</legend>
                <div class="clearfix {% if form.motion_sensitivity.errors %}error{% endif %}">
                    <label for="id_motion_sensitivity">Motion Sensitivity</label>
                    <div class="input">
                        {{ form.motion_sensitivity }}
                    </div>
                    {{ form.motion_sensitivity.errors }}
                </div>
                <!--
                <div class="clearfix">
                    <label for="id_sound_sensitivity">Sound Sensitivity</label>
                    <div class="input">
                        {{ form.sound_sensitivity }}
                    </div>
                </div>
                -->
                <div class="clearfix medium {% if form.distance.errors %}error{% endif %}">
                    <label for="id_distance">Distance</label>
                    <div class="input medium">
                        {{ form.distance }}
                    </div>
                    {{ form.distance.errors }}
                </div>
            </fieldset>
            <fieldset>
                <legend>SMS Settings</legend>
                <div class="clearfix {% if form.sms_email.errors %}error{% endif %}">
                    <label for="id_sms_email">SMS Email Address</label>
                    <div class="input">
                        {{ form.sms_email }}
                    </div>
                    {{ form.sms_email.errors }}
                </div>
                <div class="clearfix {% if form.sms_on.errors %}error{% endif %}">
                    <label for="id_sms_on">SMS Notifications Turned On</label>
                    <div class="input">
                        {{ form.sms_on }}
                    </div>
                    {{ form.sms_on.errors }}
                </div>
            </fieldset>
            <fieldset>
                <legend>Nightvision</legend>
                <div class="clearfix {% if form.nightvision_on.errors %}error{% endif %}">
                    <label for="id_nightvision_on">Nightvision Turned On</label>
                    <div class="input">
                        {{ form.nightvision_on }}
                    </div>
                    {{ form.nightvision_on.erros }}
                </div>
            </fieldset>
            <fieldset>
                <div class="input">
                    <input type="submit" class="btn" name="save" value="Save"/>
                </div>
            </fieldset>
        </form>
    </div>
</div>

{% endblock %}
