<html>
    <head>
        <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.1.1.min.css">
    </head>
    <body>
        <div class="container-fluid">

            <h1 style="margin-top: 1em">How Is Babby</h1>


            <div class="row">
                <div class="span8 columns">
                    <div class="alert-message">
                        <a class="close" href="#">x</a>
                        <p><strong>Alert!</strong> The babby is moving!</p>
                    </div>
                </div>
            </div>

            <div id="frames">
                <div id="current_frame span4 rows">
                </div>
            </div>

            <div class="row">
                <div id="latest_events" class="span8 columns">

                    <table class="zebra-striped">
                        <tr>
                            <th>Time</th>
                            <th>Event Type</th>
                        </tr>
                        <tr>
                            <td>2011-08-29 11:43:04</td>
                            <td>Movement</td>
                        </tr>
                        <tr>
                            <td>2011-08-29 10:27:41</td>
                            <td>Sound</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="span4 columns offset3">
                    <form>
                        <input type="button" value="Start/Stop"/>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
