{% extends 'base.html' %}

{% block nav-index %}<li class="active"><a href="{% url viewer_index %}">Monitor</a></li>{% endblock %}

{% block content %}
            <div id="frames" class="row">
                <div id="current_frame" class="span4 columns">
                    <img width="300" height="300" id="video_frame" src="" alt="The Babby"/>
                </div>
            </div>
            <div class="row">
                <div class="span4 columns">
                    <form>
                        <button class="btn success">Start/Stop Notifications</button>
                    </form>
                </div>
            </div>
        <script src="http://ec2-50-17-169-160.compute-1.amazonaws.com:8080/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/viewer.js"></script>
{% endblock %}

