{% extends 'base.html' %}
{% block content %}
            <div class="row">
                <div id="latest_events" class="span8 columns">
                    <h4>Last 10 Events</h4>

                    <table class="zebra-striped">
                        <tr>
                            <th>Time</th>
                            <th>Event Type</th>
                        </tr>
                        <tr>
                            <td>2011-08-29 11:43:04</td>
                            <td>Movement</td>
                        </tr>
                        <tr>
                            <td>2011-08-29 10:27:41</td>
                            <td>Sound</td>
                        </tr>
                    </table>
                </div>
            </div>
{% endblock %}

