{% extends 'base.html' %}

{% block nav-log %}<li class="active"><a href="{% url viewer_log %}">See Log</a></li>{% endblock %}

{% block content %}
            <div class="row">
                <div id="latest_events" class="span8 columns">
                    <div class="page-header">
                        <h3>Last 10 Events</h3>
                    </div>

                    <table class="zebra-striped">
                        <tr>
                            <th>Time</th>
                            <th>Event Type</th>
                        </tr>
                        <tr>
                            <td>2011-08-29 11:43:04</td>
                            <td>Movement</td>
                        </tr>
                        <tr>
                            <td>2011-08-29 10:27:41</td>
                            <td>Sound</td>
                        </tr>
                        <tr>
                            <td>2011-08-29 10:27:41</td>
                            <td>Sound</td>
                        </tr>
                        <tr>
                            <td>2011-08-29 10:27:41</td>
                            <td>Movement</td>
                        </tr>
                        <tr>
                            <td>2011-08-29 10:27:41</td>
                            <td>Sound</td>
                        </tr>
                        <tr>
                            <td>2011-08-29 10:27:41</td>
                            <td>Sound</td>
                        </tr>
                    </table>
                </div>
            </div>
{% endblock %}

