<html>
    <head>
        <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.1.1.min.css">
    </head>
    <body>
        <div class="container-fluid">
            <h1>How Is Babby</h1>

            <div id="frames"></div>

            <div id="latest_events">
                <table>
                    <tr>
                        <th>Time</th>
                        <th>Event Type</th>
                    </tr>
                    <tr>
                        <td>2011-08-29 11:43:04am</td>
                        <td>Movement</td>
                    </tr>
                    <tr>
                        <td>2011-08-29 10:27:41</td>
                        <td>Sound</td>
                    </tr>
                </table>
            </div>
        </div>
        <script src="http://localhost:8080/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/viewer.js"></script>
    </body>
</html>
